@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Clash Grotesk', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.app-container {
  background-image: url('/lines.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: right top;
  background-attachment: fixed;
}
/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* Ensure the element is still scrollable */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.app-wrapper {
  transform-origin: top center;
}

.app-wrapper {
  transform-origin: top center;
}

/* Scale down on tablets */
@media (max-width: 1024px) {
  .app-wrapper {
    transform: scale(0.85);
  }
}

/* Scale down on large mobiles */
@media (max-width: 768px) {
  .app-wrapper {
    transform: scale(0.7);
  }
}

/* Scale down on small mobiles */
@media (max-width: 480px) {
  .app-wrapper {
    transform: scale(0.55);
  }
}
/* index.css */
html, body, * {
  user-select: none;
}

@font-face {
  font-family: 'Trap';
  src: url('fonts/Trap-Black.woff2') format('woff2'),
       url('fonts/Trap-Black.woff') format('woff'),
       url('fonts/Trap-Black.otf') format('opentype'); /* optional fallback */
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

