@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Clash Grotesk', sans-serif;
}

.text-fluid {
  font-size: clamp(3.5rem, 32.5vw, 20rem);
  line-height: 1;
}

.font-inter {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.app-container {
  background-image: url('/lines.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: right top;
  background-attachment: fixed;
}
